<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/blueimp-gallery.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
    <div class="ct" id="t1">
        <div class="topright" id="closeButton"><img src="close.png"/></div>
        <div class="ct" id="t2">
            <div class="ct" id="t3">
                <div class="ct" id="t4">
                    <div class="ct" id="t5">
                        <ul id="menu">
                            <a href="#t1">
                                <li class="icon" id="uno">Home</li>
                            </a>
                            <a href="#t2">
                                <li class="icon" id="dos">Transactions</li>
                            </a>
                            <a href="#t3">
                                <li class="icon" id="tres">Customers</li>
                            </a>
                            <a href="#t4">
                                <li class="icon" id="cuatro">Payslips</li>
                            </a>
                            <a href="#t5">
                                <li class="icon" id="cinco">Reports</li>
                            </a>
                        </ul>
                        <div class="page" id="p1">
                            <section class="icon">
                                <div class="section-container vertical-center">
                                    <img class="logo" src="./logo.png" />
                                </div>
                            </section>
                        </div>
                        <div class="page" id="p2">
                            <section class="icon section-size">
                                <div class="section-container">
                                    <div class="autocomplete" style="width:auto;">
                                        <p class="descriptor">Date</p>
                                        <input type="date" id="trdate" class="form-control form-rounded"/>
                                      </div>
                                    </div>
                                <div class="section-container">
                                <div class="autocomplete" style="width:auto;">
                                    <p class="descriptor">NIC</p>
                                    <input id="userID" type="text" name="userid" class="form-control form-rounded" placeholder="ID">
                                    </div>
                                </div>
                                <div class="section-container">
                                <div class="autocomplete" style="width:auto;">
                                    <p class="descriptor">Username</p>
                                    <input id="userNameInput" type="text" name="username" class="form-control form-rounded" placeholder="Username">
                                  </div>
                                </div>
                                <div class="section-container">
                                <div class="autocomplete" style="width:auto;">
                                    <p class="descriptor">Gross Weight</p>
                                    <input id="grossWeight" type="text" name="grossweight" class="form-control form-rounded" placeholder="Gross Weight">
                                </div>
                                </div>
                                <div class="section-container">
                                    <div class="autocomplete" style="width:100%;">
                                    <p class="descriptor">Additional Expenses</p>
                                    <div style="display: flex;">
                                        <div class="flex-content"></div>
                                        <div class="flex-content">
                                            <select id="additionalTypes" class="form-control form-rounded">
                                                <option value="0">අත්තිකාරම්</option>
                                                <option value="1">පොහොර/25Kg</option>
                                                <option value="2">වල් නාශක/Bottle</option>
                                                <option value="3">ඩොලමයිට්/Pkt</option>
                                                <option value="4">තේ කොළ/Pkt</option>
                                                <option value="5">වෙනත්</option>
                                            </select>
                                        </div>
                                        <div class="flex-content"><input id="additional1" type="text" name="additional1" class="form-control form-rounded" placeholder="Amount(Rs.)"></div>
                                        <div class="flex-content"><input id="additional2" type="text" name="additional2" class="form-control form-rounded" placeholder="" disabled></div>
                                        <div class="flex-content"><button class="btn btn-success" id="addAdditional"><i class="fas fa-plus-circle"></i></button></div>
                                    </div>
                                </div>
                                </div>
                                
                            <div class="section-container">
                                <div id="tableContainer">
                                </div>
                            </div>
                            <div class="section-container">
                                <div class="autocomplete" style="width:auto;">
                                    <button class="btn btn-success" id="addTransaction"><i class="fas fa-check-circle">  submit</i></button>
                                </div>
                            </div>
                            </section>
                        </div>
                        <div class="page" id="p3">
                            <section class="icon section-size">
                                <div class="section-container">
                                    <div class="autocomplete" style="width:auto;">
                                        <p class="descriptor">NIC</p>
                                        <input id="userNIC" type="text" name="nic" class="form-control form-rounded" placeholder="NIC">
                                      </div>
                                    </div>
                                    <div class="section-container">
                                        <div class="autocomplete" style="width:auto;">
                                            <p class="descriptor">Name</p>
                                            <input id="userNameField" type="text" name="name" class="form-control form-rounded" placeholder="Name">
                                          </div>
                                        </div>
                                        <div class="section-container">
                                            <div class="autocomplete" style="width:auto;">
                                                <p class="descriptor">Mobile No.</p>
                                                <input id="userMobile" type="text" name="mobile" class="form-control form-rounded" placeholder="Mobile No.">
                                              </div>
                                            </div>
                                            <div class="section-container">
                                                <div class="autocomplete" style="width:auto;">
                                                    <p class="descriptor">Account No.</p>
                                                    <input id="userAccount" type="text" name="username" class="form-control form-rounded" placeholder="Account No.">
                                                  </div>
                                                </div>
                                                <div class="section-container">
                                                    <div class="autocomplete" style="width:auto;">
                                                        <p class="descriptor">Address</p>
                                                        <input id="userAddress" type="text" name="username" class="form-control form-rounded" placeholder="Address">
                                                      </div>
                                                    </div>
                                                    <div class="section-container"><button class="btn btn-success" id="createUser"><i class="fas fa-check-circle">  submit</i></button></div>
                            </section>
                        </div>
                        <div class="page" id="p4">
                            <section class="icon section-size">
                                <div class="section-container">
                                    <div class="autocomplete" style="width:auto;display:flex;">
                                        <div  class="flex-content"></div>
                                        <div  class="flex-content">
                                            <p class="descriptor">Year</p>
                                            <select id="rep_year" class="form-control form-rounded">
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                                <option value="2022">2022</option>
                                                <option value="2023">2023</option>
                                                <option value="2024">2024</option>
                                                <option value="2025">2025</option>
                                                <option value="2026">2026</option>
                                                <option value="2027">2027</option>
                                                <option value="2028">2028</option>
                                                <option value="2029">2029</option>
                                                <option value="2030">2030</option>
                                            </select>
                                        </div>
                                        <div  class="flex-content">
                                            <p class="descriptor">Month</p>
                                            <select id="rep_month" class="form-control form-rounded">
                                                <option value="1">January</option>
                                                <option value="2">February</option>
                                                <option value="3">March</option>
                                                <option value="4">April</option>
                                                <option value="5">May</option>
                                                <option value="6">June</option>
                                                <option value="7">July</option>
                                                <option value="8">August</option>
                                                <option value="9">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                            </select>
                                        </div>
                                        <div  class="flex-content"></div>
                                    </div>
                                </div>
                                <div class="section-container">
                                    <div class="autocomplete" style="width:auto;display:flex">
                                        <div  class="flex-content"></div>
                                        <div  class="flex-content">
                                        <p class="descriptor">කිලෝවක මිල</p>
                                        <input id="repPrice" type="text" name="name" class="form-control form-rounded" placeholder="කිලෝවක මිල"></div>
                                        <div  class="flex-content">
                                        <p class="descriptor">මුද්දර ගාස්තු</p>
                                        <input id="repStamp" type="text" name="name" class="form-control form-rounded" placeholder="මුද්දර ගාස්තු"></div>
                                        <div  class="flex-content">
                                        <p class="descriptor">ප්‍රවාහන ගාස්තු</p>
                                        <input id="repTransport" type="text" name="name" class="form-control form-rounded" placeholder="ප්‍රවාහන ගාස්තු"></div>
                                        <div  class="flex-content"><button class="btn btn-success" id="repRateSave"><i class="fas fa-check-circle">  Save</i></button></div>
                                    </div>
                                </div>
                                <div class="section-container">
                                    <div class="autocomplete" style="width:auto;">
                                        <p class="descriptor">NIC</p>
                                        <input id="repNIC" type="text" name="nic" class="form-control form-rounded" placeholder="NIC">
                                        </div>
                                    </div>
                                <div class="section-container">
                                    <div class="autocomplete" style="width:auto;">
                                        <p class="descriptor">Name</p>
                                        <input id="repName" type="text" name="name" class="form-control form-rounded" placeholder="Name">
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="page" id="p5">
                            <section class="icon fa fa-plus-circle">
                                
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="js/propper.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jspdf.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/blueimp-gallery.min.js"></script>
    <script src="js/operations.js"></script>
    <script>
        // document.getElementById('links').onclick = function(event) {
        //     event = event || window.event
        //     var target = event.target || event.srcElement,
        //         link = target.src ? target.parentNode : target,
        //         options = {
        //             index: link,
        //             event: event,
        //             fullScreen: false
        //         },
        //         links = this.getElementsByTagName('a')
        //     blueimp.Gallery(links, options)
        // }
    </script>

</body>

</html>